<div class="p10 col-xs-12" ng-controller="userCommentCtrl">
	<div class="col-xs-12 BGFFF p20 r5" ng-init="queryUserCommentList()">
		<div class="col-xs-6 f16 fb p0 mb5">评论管理</div>
		<div class="col-xs-6 f14 p0 mb5 tr">
			<a type="button" class="btn btn-default btn-xs" id="refresh" ng-click="queryUserCommentList(list.page.currentPage)"> <i class="iconfont fb">&#xe6aa;&nbsp;</i>刷新</a>
			<a type="button" class="btn btn-adorn btn-xs" onclick="history.back(-1);"> <i class="iconfont fb">&#xe697;&nbsp;</i>后退</a>
		</div>
		<div class="col-xs-3 f16 fb pl0 mb10 pb5 mt20">评论列表</div>

		<div class="col-xs-9 mt20 p0 mb10 f14 tr">
			<a ng-class="{true: 'btn btn-danger btn-xs cursor', false:'btn btn-danger btn-xs disabled'}[isProjectUser('delArticle')]"
				ng-click="del('user/comment/delete.do?ids='+deleteIds,'','确认批量删除选中的评论？')">
				<i class="iconfont fb">&#xe69d;</i>&nbsp;批量删除
			</a>
		</div>

		<div class="col-xs-12 p0">
			<table class="table table-bordered table-hover">
				<thead>
					<tr class="BGEEE">
						<th class="w60"><input type="checkbox" id="select-all" ng-click="selectAll('select-all','deleteIds',comments)">&nbsp;全选</th>
						<th class="tc">内容</th>
						<th class="tc w200">回复</th>
						<th class="tc w100">时间</th>
						<th class="w200 tc">操作</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in comments">
						<td><input type="checkbox" name="deleteIds" ng-click="checkboxSelect('deleteIds',item.id)"></td>
						<td class="tc">{{item.content| cut:true:25:' ...'}}</td>
						<td class="tc w200">{{item.reply| cut:true:15:' ...'}}</td>
						<td class="tc w200">{{item.createTimeStr}}</td>
						<td class="tc w200 f12">
						<a ng-class="{true: 'btn btn-xs btn-default mr10 cursor', false:'btn btn-xs btn-default mr10 disabled'}[isProjectUser('modArticle')]"
							ng-click="detail('编辑【'+item.content+'】',700,'user/comment/detail.do?id='+item.id)"
							data-toggle="tooltip" data-placement="top"
							data-original-title="编辑"> <i class="iconfont f12">&#xe69e;</i>
						</a>
						<a ng-class="{true: 'btn btn-xs btn-danger mr10 cursor', false:'btn btn-xs btn-danger mr10 disabled'}[isProjectUser('delArticle')]"
							ng-click="del('user/comment/delete.do?id='+item.id,item.content)">
							<i class="iconfont f12">&#xe69d;</i>
						</a>
						</td>
					</tr>

				</tbody>
			</table>
			<div ui-view="page" ng-init="callBackMethod = 'queryUserCommentList'; modelKey='comments'"></div>
		</div>
	</div>
</div>
<div class="cb"></div>

