<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd


        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<!--注解扫描范围 -->
	<context:annotation-config />
	<mvc:annotation-driven/>
	<aop:aspectj-autoproxy proxy-target-class="true"/> 
	<!-- 采用注解的方式配置，在部分操作系统或tomcat中由于初始化顺序不一致，会报错 -->
	<!-- 必须放在component-scan之上，优先创建该bean -->
	<bean class="cn.crap.framework.SpringContextHolder" />
	<context:component-scan base-package="cn.crap" />
	<!-- 定时任务
	<import resource="monitor.xml" /> -->
	<!-- <import resource="mongo.xml" /> -->
	<import resource="mybatis-dao.xml" />
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:config.properties</value>
		</property>
		<property name="fileEncoding" value="utf-8"/>
	</bean>

	
	<mvc:interceptors>
		<!-- 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
		<!-- 如果不定义 mvc:mapping path 将拦截所有的URL请求 -->
		<bean class="cn.crap.framework.interceptor.AuthInterceptor"></bean>
	</mvc:interceptors>
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<util:list id="beanList">
				<ref bean="mappingJacksonHttpMessageConverter" />
			</util:list>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<!-- <property name="suffix" value=".jsp"></property> -->
	</bean> 

 	<!-- 支持上传文件 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
    
    <!-- 邮件类 -->
    <bean id="mailSenderService" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="username"><value>${mail.username}</value></property>  
        <property name="password"><value>${mail.password}</value></property>  
        <property name="host"><value>${mail.host}</value></property>
		<property name="port"><value>465</value></property>

		<!-- TODO mail.transport.protocol smtp-->
        <property name="javaMailProperties">  
            <props>  
                <prop key="mail.smtp.auth">false</prop>
				<prop key="mail.smtp.writetimeout">3000</prop>
				<prop key="mail.smtp.timeout">3000</prop>
				<prop key="mail.smtp.connectiontimeout">3000</prop>
				<prop key="mail.smtp.port">465</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.socketFactory.fallback">false</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>

				<prop key="mail.pop3.writetimeout">3000</prop>
				<prop key="mail.pop3.timeout">3000</prop>
				<prop key="mail.pop3.connectiontimeout">3000</prop>

				<prop key="mail.imap.writetimeout">3000</prop>
				<prop key="mail.imap.timeout">3000</prop>
				<prop key="mail.imap.connectiontimeout">3000</prop>

            </props>  
        </property>  
	</bean> 
</beans>