/**
后端css样式
 */
body{
    min-width: 1000px;
}
.navbar-brand{
    width: 50px;
    padding: 10px;
}
.navbar-brand img{
    height: 30px;
    width: 30px;
}
.menu_a{
    text-align: left;
    height: 50px;
    line-height: 50px;
    display: block;
    padding-left:15px;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
}
.menu_a:hover{
    margin-top:-1px;
    margin-bottom:-1px;
    height:52px;
    line-height: 52px;
}
.menu_b{
    height: 40px;
    line-height: 40px;
    display: block;
    padding-left:15px;
    padding-right:15px;
    overflow:hidden;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    color: #555555;
}
.menu_b:hover{
    margin-top:-1px;
    margin-bottom:-1px;
    height:42px;
    line-height: 42px;
}
.project-menu{
    text-align: left;
    display: block;
    float: left;
    cursor: pointer;
    width: 12.5%;
    background-color: #f9fafc;
    border-left: 1px solid #eeeeee;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    padding-left: 10px;
    overflow: hidden;
}