body{
    font-size:12px;
    word-break:break-all;
    word-wrap:break-word;
    background-color:#F2F3F7;
    min-width:800px;
}
input::-webkit-input-placeholder {
    color: #cccccc!important;
    font-weight: normal;
    font-size: 12px;
}
input{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.form-control[readonly]{
    cursor: pointer;
    background: #ffffff;
}
.btn{
    border-radius: 3px;
}
.btn-group > .btn{
    border:0px!important;
    border-radius: 0px!important;
}
.btn-group > .btn-default:hover {
    color: #ffffff;
}
/***project-user样式***/
.true-class{
    color:#000000;
    background-color: #dff0d8;
}
.false-class{
    color:#999999;
    background: #dddddd;
}
/**火狐红色边框**/
input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid{box-shadow: none;}
table{
    font-size:12px;
    font-weight:normal;
    color:#666;
}
html,body{
    height: 100%;
    width: 100%;
}
blockquote{
    padding-left:10px;
}

.pager-sm li > a, .pager-sm li > span {
    padding: 1px 8px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-size:12px;
    border-radius: 10px;
}
/***默认颜色**/
.def-bg{
    background:#DDDDDD;
}
.light-bg{
    background:#f9fafc;
}
.search-input:focus{
    opacity:1!important;
}
.search-section:hover .search-button{
    opacity:0.8!important;
}
/*****新版首页******/
.dashboard{
    background: rgba(255,255,255,0.2);
    color: #ffffff;
    line-height: 20px;
}
/*****登录框*******/
.login{
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
/*** 头像**/
.avatar{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-left:-50px;
    display: block;
    float:left;
}
/*****左边菜单*****/
.left-menu-border-top{
    border-top: 1px solid #888!important;
}
/********前端显示最小宽度*************/
.container-fluid{min-width: 770px;}
.navbar-inverse{min-width: 770px;border:0px!important;}
.container{min-width: 770px;}
/********文档页面，图片居中显示********/
#fade{
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom:0px;
    right: 0;
    left: 0;
    background-color: #000000;
    z-index:999;
    display: none;
}
#passwordDiv{
    z-index:10001;
    position:fixed!important;
}
/************登录********************/
#remberPwd .lab{
    padding-top:3px;
    margin-right:10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#remberPwd .active{
    color:#fff;
    background-color:#6f5499;
    border-color: #563d7c;
}
.input-wrapper{
    position: relative;
    border-bottom: 1px solid #eee;
    margin-left:-15px;
    margin-right:-15px;
}
.input-wrapper:first-child {
    border-top: 1px solid #eee;
}

.input-wrapper input {
    padding: 10px 8px;
    height: 48px;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    color: #999999;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
.input-wrapper .imgCode{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}
/************添加参数*****************/
#editParamTable input,#editParamTable select,#content input, #editHeaderTable select,
#editResponseParamTable input,#editResponseParamTable select,.tableInupt input{
    border: 1px solid #DDD;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#eparamRemarkTable input,#eparamRemarkTable select{
    padding:5px 5px;
    height:25px!important;
    font-size:12px!important;
}

/***************接口详情页面*************/
.interface-detail{
    color:#555;
}
.interface-detail div{
    color:#000;
    margin-bottom:10px;
    margin-top:30px;
    font-size:14px;
    font-weight: bolder;
}
.interface-detail .code {
    font-size: 12px;
    color: #595959;
    border: 1px dashed #cecfcf;
    background-color: #f5f6f7;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.interface-detail blockquote{
    line-height:10px;
    padding-left:10px;
    font-size:12px;
}
.code pre{
    border:0px;
    color: #595959;
    font-family: Tahoma,"SimSun"!important;
    font-weight:100;
    line-height: 24px;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/***************************/
#go_top{
    position: fixed;
    bottom:30px;
    right:30px;
    height:46px;
    width:46px;
    background: #000000;
    background: rgba(0, 0, 0, 0.8);
}
.notice{
    background-color: rgba(253, 245, 154, 0.3);
    color:rgba(239, 118, 65, 0.73);
}
.text-error {
    position: relative;
    border: 1px solid red;
    font-size: 12px;
    text-align: center;
    background: #ffebe8;
    color: #333333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    padding: 2px;
    line-height: 26px;
    width: 100%;
}

.text-success {
    position: relative;
    border: 1px solid green;
    font-size: 12px;
    text-align: center;
    background: #dff0d8;
    color: #333333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    padding: 2px;
    line-height: 26px;
    width: 100%;
}

#editForm table td{
    padding:6px 8px;
}
#editForm table .form-control{
    padding: 8px 12px;
}
.modal-body .container{
    max-width:100%;
}

/************bug状态按钮***********/
.bug-status-0, .bug-status--1, .bug-status--2, .bug-status--3, .bug-status--4{
    color: #555555; border-color: #999999; background-color: #eeeeee;
}
.bug-status-0:hover, .bug-status--1:hover, .bug-status--2:hover, .bug-status--3:hover, .bug-status--4:hover{
    color: #555555!important; border-color: #999999; background-color: #eeeeee; opacity: 0.8;
}

.btn-GET, .btn-inter-1,
.bug-status-10, .bug-status-11, .bug-status-12{
    color: #ffffff; border-color: #5cb85c; background-color: #5cb85c;
}
.btn-GET:hover, .btn-inter-1:hover,
.bug-status-10:hover, .bug-status-11:hover, .bug-status-12:hover{
    color: #ffffff!important; border-color: #5cb85c; background-color: #5cb85c; opacity: 0.8;
}

.btn-inter-2, .bug-status-20{
    color: #ffffff; border-color: #5bc0de; background-color: #5bc0de;
}
.btn-inter-2:hover,
.bug-status-20:hover{
    color: #ffffff!important; border-color: #5bc0de; background-color: #5bc0de; opacity: 0.8;
}

.bug-status-21, .bug-status-22{
    color: #ffffff; border-color: #eea236; background-color: #f0ad4e;
}
.bug-status-21:hover, .bug-status-22:hover{
    color: #ffffff!important; border-color: #eea236; background-color: #f0ad4e; opacity: 0.8;
}

.btn-POST, .btn-inter-3, .bug-status-23{
    color: #ffffff; border-color: #f82c1d; background-color: #f82c1d;
}
.btn-POST:hover, .btn-inter-3:hover, .bug-status-23:hover{
    color: #ffffff!important; border-color: #f82c1d; background-color: #f82c1d; opacity: 0.8;
}

.btn-purple, .bug-status-30, .bug-status-31{
    color: #ffffff;
    background-color:#6f5499;
}
.btn-purple:hover,
.bug-status-30:hover, .bug-status-31:hover{
    color: #ffffff!important;
    background-color: #563d7c;
    opacity: 0.8;
}

.btn-blue {
    color: #ffffff;
    background-color:#1b809e;
}
.btn-blue:hover{
    color: #ffffff!important;
    background-color: #137491;
    opacity: 0.8;
}

/********** 颜色 ************/
.bug-default{
    color: #555555;
}
.bug-default:hover{
    color: #555555!important;
    border-color:#555555;
    opacity: 0.8;
}
.bug-priority-1, .bug-severity-4{
    color: #999999;
}
.bug-priority-1:hover, .bug-severity-4:hover{
    color: #999999!important;
    border-color:#999999;
    opacity: 0.8;
}
.bug-priority-2, .bug-severity-3{
    color: #5bc0de;
}
.bug-priority-2:hover, .bug-severity-3:hover{
    color: #5bc0de!important;
    border-color: #5bc0de;
    opacity: 0.8;
}
.bug-priority-3, .bug-severity-2{
    color: #eea236;
}
.bug-priority-3:hover, .bug-severity-2:hover{
    color: #eea236!important;
    border-color: #eea236;
    opacity: 0.8;
}
.bug-priority-4, .bug-severity-1{
    color: #f82c1d;
}
.bug-priority-4:hover, .bug-severity-1:hover{
    color: #f82c1d!important;
    border-color: #f82c1d;
    opacity: 0.8;
}

.navbar-fixed-top {
    border: 0;
}

/*******************left**********************/
.nav-face{
    height:40px;
}
.panel-info{
    color:#939da8;
    margin:0px -20px;
    background-color:transparent!important;
}
.panel-heading{
    color:#DDD!important;
    padding:0px!important;
    background:#999999!important;
}
.panel-heading .badge{
    background-color: #B768A5!important;
}
.panel-heading a,.panel-heading .a{
    padding:10px 15px;
    width:100%;
    display:inline-block;
    color:#FFF!important;
    text-decoration: none;
}


.panel-body a{
    width:100%;
    display:inline-block;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    color: #555;
}
.searchInput {
    display:inline-block!important;
    height:23px!important;
}
/******************searchView
#searchView{
    display:none;
    position:fixed;
    top:100px;
    width:400px;
    height:100px;
    margin:0 auto;
    z-index:1051;
    background: rgba(255, 255, 255, 0.4);
}****************/
/*****************pick***************************/
.iactive{
    font-weight:bold;
}
.pickActive{
    font-weight:bold;
}
.pickSelect{
    background:#DDD;
    font-weight:bold;
}
#pickContent div:hover{
    background:#DDD;
}
.separator{
    border:0px;
    margin-top:10px;
    font-size:12px;
    margin-bottom:10px;
    text-align: left;
}
/*****************加载浮层***************************/
.folat{
    display:none;position:fixed;top:0px;left:0px;right:0px;bottom:0px;
    z-index:1060;
    background: rgba(0, 0, 0, 0.1);
    padding-top:20%; text-align:center;
}
.float-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color:red;
}
.look-up {
    position: absolute;
    top: 40%;
    left: 35%;
    background: #000000;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    height: 100px;
    width: 500px;
    padding: 1px;
}
#lookUp{
    z-index: 1061;
}
.look-up-content {
    position: relative;
    background: #FDFDFD;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 15px;
    overflow: auto;
}
.look-up .i-close {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
    color:#999;
}

.look-up .i-full {
    position: absolute;
    top: 12px;
    right: 42px;
    font-size: 14px;
    cursor: pointer;
    color:#999;
}
#myDialog{
    color: #fff;
    z-index: 1051;
    background-color: #888;
}
#pickTip {
    position: absolute;
    top: 4px;
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    height:36px;
    line-height:36px;
    padding-left:30px;
    color:#fff;
    font-weight:bold;
    font-size: 18px;
    cursor: pointer;
    display:none;
}
.look-up .text-success {
    font-weight: bold;
    font-size: 14px;
}
.look-up .i-close:hover {
    color: #B20000;
}
.look-up .i-full:hover {
    color: #B20000;
}
/*******************End:left**********************/
/*@media (min-width: 768px) {*/

/*}
@media (max-width: 767px) {
  .sidebar {
  	 position:relative;
  	 margin-top:-50px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content.
    background-color: #333;
    border-right: 1px solid #eee;
  }
} */

/*
 * Main content
 */

#context {
    height:100%;
    min-width:100%;
}
/***************妯℃�佹*****************/
.modal-header {
    color: #fff;
    background-color: #888;
}
@media (max-width: 767px) {
}
/*************loading************/
.sk-wave {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px; }
.sk-wave .sk-rect {
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
.sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s; }
.sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4); }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4); }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1); } }


/************ 首页背景 ********/
.circular{
    position: absolute;
    opacity: .3;
    border-radius: 50%;
    z-index: 1;
}

.circular-1{
    width: 78px;
    height: 78px;
    left: 160px;
    top: 108px;
    background: linear-gradient(-90deg,#00d5c8,#00b481);
}

.circular-2{
    width: 60px;
    height: 60px;
    left: 260px;
    top: 260px;
    background: linear-gradient(0deg,#FF6400,#ffee80);
}

.circular-3{
    width: 135px;
    height: 135px;
    right: 432px;
    top: 50px;
    background: linear-gradient(0deg,#ff5a25,#ff005a);
}
.circular-4{
    width: 25px;
    height: 25px;
    right: 278px;
    top: 41px;
    background: linear-gradient(-90deg,#bd4c86,#c864ae);
}

.circular-5{
    width: 30px;
    height: 30px;
    right: 100px;
    top: 100px;
    background: linear-gradient(-90deg, #bd4c86, #c864ae);
}
.circular-6{
    width: 90px;
    height: 90px;
    right: 0px;
    top: 95px;
    background: linear-gradient(-90deg,#271e5b,#0d76ef);
}