/********setting.css 由模板setting.tpl.css生成*********/
@media ( min-width : 1210px) {.container {width: 1000px!important}}

body, h1, h2, h3, h4, h5, h6, hr, blockquote, dl, dt, dd, ul, ol, li,pre, form, fieldset, legend, button, input, textarea, th, td {font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;;}
a{text-decoration: none;}
a:hover{color: #f82c1d;text-decoration: none;}
.a-main{color:#ffffff;}
.a-main:hover{color:#4CAF56!important}
.main-color{color:#4CAF56!important}
.main-hover-color:hover{color:#4CAF56!important}

.a-adorn{color:#ffffff;}
.a-adorn:hover{color:#f82c1d!important}
.adorn-color{color:#f82c1d!important}
.adorn-hover-color:hover{color:#f82c1d!important}
input:focus{border-color: #4CAF56!important;}

.s-bg-color {background-color: #f7f7f7}
.s-nav-bg-color {background-color: #233050!important;}
.s-nav-color {color: #a9a9a9}
.s-nav-color a {color: #a9a9a9}

.btn-group{border: 1px #4CAF56 solid;}
.btn-group > .btn-default:hover{ background-color:#4CAF56!important;}

.btn-adorn {color: #ffffff;background-color:#f82c1d;}
.btn-adorn:hover{color: #ffffff;background-color: #f82c1d;opacity: 0.8;}

.btn-main {color: #ffffff;background-color:#4CAF56;border:0px;}
.btn-main:hover{color: #ffffff;background-color: #4CAF56;opacity: 0.8;}

.main-bg {background-color: #4CAF56!important;}
.main-bg-opacity-1{background-color: rgba(76,175,86,0.1)!important;}
.main-bb-1{ border-bottom:1px solid #4CAF56!important}
.main-br-1{ border-right:1px solid  #4CAF56}
.main-bl-3{ border-left:3px solid #4CAF56}
.main-bt-3{ border-top:3px solid #4CAF56}
.main-bl-1{ border-left:1px solid #4CAF56}

.bt-5 {border-top: 5px solid#4CAF56}
.bl-5 {border-left: 5px solid#4CAF56}

.hover-adorn:hover,.active-adorn{background-color: #f82c1d!important;color:#ffffff!important;}
.hover-main:hover,.active-main{background-color: rgba(76,175,86,0.1)!important;color:#4CAF56!important;}

.adorn-color {color: #f82c1d}
.adorn-bl-3{ border-left:3px solid #f82c1d}
.adorn-bb-1{ border-bottom:1px solid #f82c1d}
.adorn-bt-3{ border-top:3px solid #f82c1d}
.adorn-bg {background-color: #f82c1d}

.interface-detail blockquote {color: #4CAF56}
.iactive {background-color: #4CAF56!important;color:#ffffff!important;opacity: 0.8;}
.look-up-content {border-top: 3px solid#4CAF56;}
.sk-wave .sk-rect {background-color: #4CAF56;}
.separator {border-bottom: 1px dotted#4CAF56;color: #4CAF56}
.login-bg{z-index:2;background: url('http://127.0.0.1:8080/resources/images/bg_web.jpg') 50% 50% / cover no-repeat fixed;}
.title-bg-img{background-image:url('https://dn-coding-net-production-static.qbox.me/3c9bcbc0-15dc-4a6f-a81f-5112936b7773.jpg')!important; background-position:center;}

/***remote iconfont*****/
@font-face {
    font-family: 'iconfont';  /* project id 860205 */
    src: url('//at.alicdn.com/t/font_860205_v11qvy4n2m.eot');
    src: url('//at.alicdn.com/t/font_860205_v11qvy4n2m.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_860205_v11qvy4n2m.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_860205_v11qvy4n2m.woff') format('woff'),
    url('//at.alicdn.com/t/font_860205_v11qvy4n2m.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_860205_v11qvy4n2m.svg#iconfont') format('svg');
}