<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- 设置中文字符集 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>

	<!-- 要保证ThreadContext位于所有拦截器的第一个 -->
	<!-- ThreadContext -->
	<filter>
		<filter-name>ThreadContext</filter-name>
		<filter-class>cn.crap.framework.ThreadContext</filter-class>
		<init-param>
			<param-name>ignoreSuffixes</param-name><!-- 需要忽略的后缀 -->
			<param-value>
				.jpg,.png,.html,.js,.css,.jpeg,.doc,.pdf
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ThreadContext</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 参数处理-->
	<filter>
		<filter-name>paramFilter</filter-name>
		<filter-class>cn.crap.framework.ParamFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>paramFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>paramFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>paramFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>



	<!-- spring配置 -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springMVC.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<!-- 加载spring配置文件 -->
	<display-name>CrapApi</display-name>  
	 <welcome-file-list>
	    <welcome-file>home.do</welcome-file>
	 </welcome-file-list>
	 <error-page>
    	<error-code>404</error-code>
    	<location>/resources/html/404.html</location>
  	</error-page>
</web-app>
