<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.crap.dao.mybatis.BugLogDao">
    <resultMap id="resultMap" type="cn.crap.model.BugLogPO">
        <id column="id" property="id"/>
        <result column="operatorStr" property="operatorStr"/>
        <result column="createTime" property="createTime"/>
        <result column="junior" property="junior"/>
        <result column="operator" property="operator"/>
        <result column="status" property="status"/>
        <result column="senior" property="senior"/>
        <result column="remark" property="remark"/>
        <result column="type" property="type"/>
        <result column="updateTime" property="updateTime"/>
        <result column="sequence" property="sequence"/>
        <result column="bugId" property="bugId"/>
        <result column="projectId" property="projectId"/>
        <result column="originalValue" property="originalValue"/>
        <result column="newValue" property="newValue"/>
    </resultMap>

    <!-- 基本的字段，供其他查询引用-->
    <sql id="baseColumn">
        id,operatorStr,createTime,junior,operator,status,senior,remark,type,updateTime,sequence,bugId,
        projectId,originalValue,newValue
  </sql>
    <sql id="querySql">
        <where>
            <if test="query.projectId != null">
                and projectId=#{query.projectId}
            </if>
            and bugId=#{query.bugId}
        </where>
    </sql>

    <!-- 新增 -->
    <insert id="insert" parameterType="cn.crap.model.BugLogPO">
        insert into bug_log (
          <include refid="baseColumn"/>
        )
        values (#{id},#{operatorStr},NOW(),#{junior},#{operator},#{status},#{senior},#{remark},#{type},
        NOW(),#{sequence},#{bugId},#{projectId},#{originalValue},#{newValue})
   </insert>

    <!-- 删除 -->
    <delete id="delete">
        delete from bug_log where id=#{id}
    </delete>


    <!-- 更新 -->
    <update id="update" parameterType="cn.crap.model.BugLogPO">
        update bug_log
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            updateTime = NOW()
        </set>
        where id=#{id}
    </update>


    <!-- 查询 -->
    <select id="select" resultMap="resultMap">
        select
        <include refid="baseColumn"/>
        from bug_log
        <include refid="querySql"/>
        <if test="query.sort != null">
            order by ${query.sort}
        </if>
        limit ${query.start},${query.pageSize}
    </select>

    <!-- 查询 -->
    <select id="get" resultMap="resultMap">
        select
        <include refid="baseColumn"/>
        from bug_log
        where id=#{id}
    </select>


    <!-- 查询总数 -->
    <select id="count" resultType="java.lang.Integer">
        select count(*) from bug_log
        <include refid="querySql"/>
    </select>

</mapper>
