<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.crap.dao.mybatis.BugDao">
    <resultMap id="resultMap" type="cn.crap.model.Bug">
        <id column="id" property="id"/>
        <result column="createTime" property="createTime"/>
        <result column="assignedTo" property="assignedTo"/>
        <result column="priority" property="priority"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="severity" property="severity"/>
        <result column="createdBy" property="createdBy"/>
        <result column="updateBy" property="updateBy"/>
        <result column="updateTime" property="updateTime"/>
        <result column="sequence" property="sequence"/>
        <result column="moduleId" property="moduleId"/>
        <result column="attributes" property="attributes"/>
        <result column="tester" property="tester"/>
        <result column="projectId" property="projectId"/>
        <result column="traceType" property="traceType"/>
        <result column="tracer" property="tracer"/>
        <result column="status" property="status"/>
        <result column="deadline" property="deadline"/>
    </resultMap>

    <!-- 基本的字段，供其他查询引用-->
    <sql id="baseColumn">
        id,createTime,assignedTo,priority,updateBy,name,content,severity,createdBy,updateTime,sequence,moduleId,attributes,tester,projectId,traceType,tracer,status,deadline
   </sql>

    <sql id="querySql">
        <where>
            <if test="query.projectId != null">
                and projectId=#{query.projectId}
            </if>
            <if test="query.moduleId != null">
                and moduleId=#{query.moduleId}
            </if>
        </where>
        <if test="query.sort != null">
            order by ${query.sort}
        </if>
    </sql>

    <!-- 新增 -->
    <insert id="insert" parameterType="cn.crap.model.Bug">
        insert into bug (id,createTime,assignedTo,priority,updateBy,name,content,severity,createdBy,updateTime,sequence,moduleId,attributes,tester,projectId,traceType,tracer,status,deadline)
        values (#{id},NOW(),#{assignedTo},#{priority},#{updateBy},#{name},#{content},#{severity},#{createdBy},NOW(),#{sequence},#{moduleId},#{attributes},#{tester},#{projectId},#{traceType},#{tracer},#{status},#{deadline})
   </insert>

    <!-- 删除 -->
    <delete id="delete">
        delete from bug where id=#{id}
    </delete>


    <!-- 更新 -->
    <update id="update" parameterType="cn.crap.model.Bug">
        update bug
        <set>
            <if test="assignedTo != null">
                assignedTo = #{assignedTo},
            </if>
            <if test="priority != null">
                priority = #{priority},
            </if>
            <if test="updateBy != null">
                updateBy = #{updateBy},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="severity != null">
                severity = #{severity},
            </if>
            <if test="sequence != null">
                sequence = #{sequence},
            </if>
            <if test="moduleId != null">
                moduleId = #{moduleId},
            </if>
            <if test="projectId != null">
                projectId = #{projectId},
            </if>
            <if test="attributes != null">
                attributes = #{attributes},
            </if>
            <if test="tester != null">
                tester = #{tester},
            </if>
            <if test="traceType != null">
                traceType = #{traceType},
            </if>
            <if test="tracer != null">
                tracer = #{tracer},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deadline != null">
                deadline = #{deadline},
            </if>
            updateTime = #{updateTime}
        </set>
        where id=#{id}
    </update>


    <!-- 查询 -->
    <select id="select" resultMap="resultMap">
        select
        <include refid="baseColumn"/>
        from bug
        <include refid="querySql"/>
    </select>

    <!-- 查询 -->
    <select id="get" resultMap="resultMap">
        select
        <include refid="baseColumn"/>
        from bug
        where id=#{id}
    </select>


    <!-- 查询总数 -->
    <select id="count" resultType="java.lang.Integer">
        select count(*) from bug
        <include refid="querySql"/>
    </select>

</mapper>
