<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.crap.dao.mybatis.CommentDao">
  <resultMap id="resultMap" type="cn.crap.model.CommentPO">
    <id column="id" property="id"/>
    <result column="createTime" property="createTime"/>
    <result column="userName" property="userName"/>
    <result column="targetId" property="targetId"/>
    <result column="parentId" property="parentId"/>
    <result column="type" property="type"/>
    <result column="updateTime" property="updateTime"/>
    <result column="avatarUrl" property="avatarUrl"/>
    <result column="sequence" property="sequence"/>
    <result column="userId" property="userId"/>
    <result column="content" property="content"/>
    <result column="status" property="status"/>
    <result column="reply" property="reply"/>
  </resultMap>

  <!-- 基本的字段，供其他查询引用-->
  <sql id="baseColumn">
        id,createTime,userName,targetId,parentId,type,updateTime,avatarUrl,sequence,userId,content,status,reply
   </sql>

  <!-- 新增 -->
  <insert id="insert" parameterType="cn.crap.model.CommentPO">
    insert into comment (
    <include refid="baseColumn"/>
    )
    values (#{id},NOW(),#{userName},#{targetId},#{parentId},#{type},NOW(),#{avatarUrl},#{sequence},
    #{userId},#{content},#{status},#{reply})
  </insert>

  <!-- 删除 -->
  <delete id="delete">
        delete from comment where id=#{id}
    </delete>


  <!-- 更新 -->
  <update id="update" parameterType="cn.crap.model.CommentPO">
    update comment
    <set>
      <if test="userName != null">
        userName = #{userName},
      </if>
      <if test="id != null">
        id = #{id},
      </if>
      <if test="targetId != null">
        targetId = #{targetId},
      </if>
      <if test="parentId != null">
        parentId = #{parentId},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime},
      </if>
      <if test="avatarUrl != null">
        avatarUrl = #{avatarUrl},
      </if>
      <if test="sequence != null">
        sequence = #{sequence},
      </if>
      <if test="userId != null">
        userId = #{userId},
      </if>
      <if test="content != null">
        content = #{content},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="reply != null">
        reply = #{reply},
      </if>
      updateTime = NOW()
    </set>
    where id=#{id}
  </update>


  <!-- 查询 -->
  <select id="select" resultMap="resultMap">
    select
    <include refid="baseColumn"/>
    from comment
    where targetId=#{query.targetId}
    <if test="query.sort != null">
      order by ${query.sort}
    </if>
    limit ${query.start},${query.pageSize}
  </select>

  <!-- 查询 -->
  <select id="get" resultMap="resultMap">
    select
    <include refid="baseColumn"/>
    from comment
    where id=#{id}
  </select>


  <!-- 查询总数 -->
  <select id="count" resultType="java.lang.Integer">
    select count(*) from comment
    where targetId=#{query.targetId}
  </select>

</mapper>
