<div class="p10 col-xs-12"  ng-controller="settingDetailCtrl">
	<div class="col-xs-12 BGFFF p20 r5">
<div class="col-xs-6 f16 fb p0 mb5">系统设置【图片】</div>
<div class="col-xs-6 f14 p0 mb5 tr">
	<a type="button" class="btn btn-adorn btn-sm" onclick="history.back(-1);"> <i class="iconfont fb">&#xe697;&nbsp;</i>后退</a>
</div>
	<div class="col-xs-12 p0 bt1 pt10">
		<form ng-submit="submitForm('admin/setting/addOrUpdate.do')">
			<table class="table table-bordered">
				<tr>
					<td class="tc w200">key</td>
					<td class="tc">
					<input class="form-control" type="text" autocomplete="off" ng-model="model.key" ng-if="model.id==null" required>
					<input class="form-control cursor-not" type="text" autocomplete="off" ng-model="model.key" readonly ng-if="model.id!=null"></td>
				</tr>
				<tr>
					<td class="tc">value</td>
					<td class="tc"><input class="form-control" type="text" autocomplete="off" required ng-model="model.value" id="imgUrl"></td>
				</tr>
				<tr>
					<td class="tc">类型</td>
					<td class="tc"><input class="form-control cursor-not" id="typeName"
						type="text" autocomplete="off" ng-model="model.typeName" placeholder="点击输入框选择类型"
						readonly></td>
				</tr>
				<tr>
					<td class="tc">备注</td>
					<td class="tc"><textarea class="form-control no-resize"
							ng-model="model.remark" rows="6" placeholder="备注信息"></textarea></td>
				</tr>
				<tr>
					<td class="tc">排序</td>
					<td class="tc"><input class="form-control" min="0"
						required type="number" ng-model="model.sequence"></td>
				</tr>
			</table>
			<button class="ndis" id="settingForm" type="submit">提交</button>
		</form>
		<form enctype="multipart/form-data" name="imageForm" style="margin-top:-21px"
			target="hiddenFrame"
			action="user/file/upload.do?callBack=uploadImgCallBack&property=value" method="post">
			<table class="table table-bordered">
				<tr>
					<td class="tc w200">上传图片</td>
					<td>
						<div class="col-xs-6 p0">
							<div class="C999 file fl mr20 cursor" title="点击选择图片"
								onclick="$('#uploadImg').click();">
								<i class="iconfont f60 main-color">&#xe6a8;</i>
							</div>
							<span class="ndis"> <input type="file" name="img"
								onchange="uploadImage('uploadImg',2048,imageForm)"
								id="uploadImg" />
							</span>
						</div>
						<div class="col-xs-6 p0 maw400 mah400">
							<img src="{{model.value}}" class="main-bg" id="image"
								ng-show="model.value!=''">
						</div>

					</td>
				</tr>
			</table>
		</form>
	</div>
	<button class="btn btn-success fr" onclick="$('#settingForm').click();">提交</button>
</div>
</div>
<div class="cb"></div>
<iframe name="hiddenFrame" class="ndis"></iframe>

