<div class="p15 col-xs-12" ng-init="querySettingList()">
    <div class="col-xs-12 BGFFF p20">
        <div class="col-xs-6 f16 fb p0 mb5">系统设置管理</div>
        <div class="col-xs-6 f14 p0 mb5 tr">
            <a type="button" class="btn btn-primary btn-sm" id="refresh" ng-click="querySettingList(list.page.currentPage)"> <i
                    class="iconfont fb">&#xe6aa;&nbsp;</i>刷新</a>
            <a type="button" class="btn btn-adorn btn-sm" onclick="history.back(-1);"> <i class="iconfont fb">&#xe697;&nbsp;</i>后退</a>
        </div>
        <div class="col-xs-12 bb1 bt1 pt15 p0 pb10">
            <button type="button" class="ml5 mt1 btn btn-success btn-sm fr" ng-click="querySettingList(1);">
                <i class="iconfont">&#xe6ac;</i>&nbsp;查询
            </button>
            <div class="form-group w200 fr mr10">
                <label class="sr-only" for="">备注</label>
                <div class="input-group">
                    <div class="input-group-addon">备注</div>
                    <input type="text" autocomplete="off" class="form-control input-xs dis-in-blo w120"
                           placeholder="备注" id="searchRemark">
                </div>
            </div>
            <div class="cb"></div>
        </div>
        <div class="col-xs-3 f16 fb pl0 mb10 pb5 mt20">系统设置列表</div>
        <div class="col-xs-9 mt20 p0 mb10 f14 tr">
            <a type="button" class="btn btn-success btn-sm cursor"
               ng-href="#/admin/setting/detail?type=TEXT">
                <i class="iconfont fb">&#xe604;</i>&nbsp;新增文本类型
            </a>
            <a type="button" class="btn btn-success btn-sm cursor"
               ng-href="#/admin/setting/detail?type=IMAGE">
                <i class="iconfont fb">&#xe604;</i>&nbsp;新增图片类型
            </a>
        </div>


        <div class="col-xs-12 p0">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="BGEEE">
                    <th class="tc">key</th>
                    <th class="tc">value</th>
                    <th class="tc">类型</th>
                    <th class="tc">备注</th>
                    <td class="tc">排序</td>
                    <th class="w200 tc">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in settingList">
                    <td class="tc">{{item.key}}</td>
                    <td class="tc" title="{{item.value}}">{{item.value|cut:true:20:' ...'}}</td>
                    <th class="tc">{{item.typeName}}</th>
                    <td class="tc" title="{{item.remark}}">
                        {{item.remark|cut:true:20:' ...'}}
                    </td>
                    <td class="tc">{{item.sequence}}</td>
                    <td class="tc">
                        <a class="f12 text-primary mr10 cursor" ng-if="showOperation('SETTING','');"
                           ng-href="#/admin/setting/detail?type={{item.type}}&id={{item.id}}&menu_a=menu-setting&menu_b=menu-setting">
                            <i class="iconfont f12">&#xe69e;修改</i>
                        </a>
                        <a class="f12 text-danger mr10 cursor" title="删除"
                           ng-if="showOperation('SETTING','') && item.canDelete=='1'"
                           ng-click="del('setting/delete.do?id='+item.id,item.key)">
                            <i class="iconfont f12">&#xe69d;删除</i>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div ui-view="page" ng-init="callBackMethod = 'querySettingList'; modelKey='settingList'; "></div>
        </div>
    </div>
</div>
<div class="cb"></div>

