<div class="h40 lh40 f16 pl20 main-bl-3">
    基础信息<span class="C999 f12">（带 * 的为必填项）</span>
</div>
<div class="p0">
    <table class="table table-bordered editor-table">
        <tr>
            <td class="tc w100">接口名称 <span class="adorn-color fb">*</span></td>
            <td class="tc w400">
                <input class="form-control" type="text" autocomplete="off" required maxlength="50" id="interfaceName"
                       ng-model="model.interfaceName" placeholder="示例：获取订单列表接口">
            </td>
            <td class="tc w120">
                模块名
            </td>
            <td>
                <input class="form-control cursor" type="text" autocomplete="off"  id="moduleName" readonly ng-model="model.moduleName"
                       placeholder="点击选择模块"
                       ng-click="loadPickByName('iwidth=220|iheight=250|tagName=moduleName|tag=moduleId|code=MY_MODULE|def='+model.moduleId+'|params=&key='+model.projectId,$event)">

            </td>
        </tr>
        <tr>
            <td class="tc">URL <span class="adorn-color fb">*</span></td>
            <td class="tc" colspan="3">
                <div ng-class="{true: 'input-group w', false: 'w'}[model.moduleUrl!='']">
                    <div class="input-group-addon" ng-bind="model.moduleUrl" ng-if="model.moduleUrl"></div>
                    <input type="text" autocomplete="off" class="form-control" ng-model="model.url" required maxlength="200"
                           placeholder="示例：http://api.crap.cn/CustomerOrder/{id}">
                </div>
            </td>
        </tr>
        <tr>
            <td class="tc">请求方式</td>
            <td class="tc">
                <input class="form-control cursor" type="text" autocomplete="off" readonly  id="method" placeholder="请点击输入框选择" required ng-model="model.method"
                       ng-focus="loadPickByName('iwidth=220|radio=true|iheight=250|tag=method|code=REQUEST_METHOD|def='+model.method,$event)">
            </td>
            <td class="tc">状态 <span class="adorn-color fb">*</span></td>
            <td>
                <input class="form-control" readonly type="text" autocomplete="off" id="statusName" ng-model="model.statusName" required placeholder="请点击输入框选择"
                       ng-click="loadPickByName('iwidth=220|iheight=220|tagName=statusName|tag=status|code=INTERFACE_STATUS|def='+model.status, $event)">
            </td>
        </tr>
        <tr>
            <td class="tc">版本号</td>
            <td class="tc">
                <input class="form-control" type="text" autocomplete="off" ng-model="model.version">
            </td>
            <td class="tc">排序</td>
            <td class="tc">
                <input class="form-control" min="0"  placeholder="接口排序" type="number" ng-model="model.sequence"></td>
        </tr>
        <tr>
            <td class="tc">返回类型</td>
            <td class="tc">
                <input class="form-control" readonly type="text" autocomplete="off" id="contentTypeName" ng-model="model.contentTypeName" required placeholder="请点击输入框选择"
                       ng-click="loadPickByName('iwidth=160|iheight=180|tagName=contentTypeName|tag=contentType|code=INTERFACE_CONTENT_TYPE|def='+model.contentType, $event)">
            </td>
            <td class="tc">错误列表</td>
            <td class="tc">
                <input class="form-control no-resize" id="errorList"
                       placeholder="请点击“选择”按钮选择状态码,键盘输入可快速定位状态码,退格键可删除输入"
                       ng-click="loadPick($event,300,400,'false','errorList','ERROR_CODE',null, model.errorList,'&key='+model.projectId);"
                       ng-model="model.errorList" readonly>
            </td>
        </tr>
        <tr>
            <td class="tc">
                接口说明<br/>
                <span class="C999 f12">注：下载时将仅保留换行</span>
            </td>
            <td colspan="3">
                <div id="interface-editor"></div>
            </td>
        </tr>
    </table>
</div>